<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.standard.PayWaterMapper">
	<resultMap id="BaseResultMap" type="PayWater">
		<id 	column="id" 			property="id" />
		<result column="mid" 			property="mid" />
		<result column="order_id" 		property="orderId" />
		<result column="order_no" 		property="orderNo" />
		<result column="operator_cash" 	property="operatorCash" />
		<result column="operator_type" 	property="operatorType" />
		<result column="memo" 			property="memo" />
		<result column="is_delete" 		property="isDelete" />
		<result column="create_user" 	property="createUser" />
		<result column="create_time" 	property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, mid, order_id, order_no, operator_cash, operator_type, 
		memo, is_delete, create_user, create_time
		
	</sql>
	<select id="getPayWaterById" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM 
			car_pm_finance_pay_water
		WHERE 
			id = #{id}
	</select>
	<insert id="addPayWater">
		INSERT INTO car_pm_finance_pay_water (
			id, mid, order_id, order_no, operator_cash,
			operator_type, memo, create_user,
			create_time, is_delete
		)values (
			#{id}, #{mid}, #{orderId}, #{orderNo}, #{operatorCash},
			#{operatorType}, #{memo}, #{createUser},
			now(), 0
		)
	</insert>
	
	<update id="editPayWater">
		UPDATE car_pm_finance_pay_water
		<set>
			<if test="mid != null">
				mid = #{mid},
			</if>
			<if test="orderId != null">
				order_id = #{orderId},
			</if>
			<if test="orderNo != null">
				order_no = #{orderNo},
			</if>
			<if test="operatorCash != null">
				operator_cash = #{operatorCash},
			</if>
			<if test="operatorType != null">
				operator_type = #{operatorType},
			</if>
			<if test="memo != null">
				memo = #{memo},
			</if>
			<if test="createUser != null">
				create_user = #{createUser},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete},
			</if>
		</set>
		where id = #{id}
	</update>
</mapper>