
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1}
ul,li{
    list-style:none;
}
.qrm-pinming input{
    outline: none;
    overflow:hidden;
    white-space:nowrap; 
    text-overflow:ellipsis;
    display:block;
    word-break:keep-all;
}

.qrm-pinming{
    position: relative;
   /* width: 218px; */
    height:24px;
    background-repeat: no-repeat;
    background-position: 363px;
    float: right;
    margin-top: -3px;
    /* margin-left: 10px; */
}
.qrm-pinming:hover{
    cursor: pointer;
}
.qrm-pinming input:hover{
    cursor: pointer;
}
.qrm-pinming-panel{
    position: absolute;
    top: 37px;
    left: -1px;
    z-index: 99999;
    width: 540px;
    height: 210px;
    border: 1px solid #ee7700;
    background: #ffffff;
}
.qrm-border{
    float: left;
    width: 33%;
    height: 208px;
    overflow-y: scroll;
}
.qrm-lev{
    float: left;
    width: 95%;
    margin:0;
    padding:0;
    font-size: 12px;
}
.qrm-lev>li{
    width: 100%;
    position: relative;
    display: block;
    padding-left: 4px;
}
.qrm-lev>li:hover{
    background: #ff9022;
    color: #ffffff;
}

.qrm-arrow-right{
    display: inline-block;
    width: 4px;
    height: 7px;
    background: url("../images/qrm-arrow-right.png") no-repeat;
    position: absolute;
    right: 5px;
    top: 12.5px;
}

.qrm-lev-1>li.active{
    background: #ff9022;
    color: #ffffff;
}
.qrm-lev-2>li.active{
    background: #ff9022;
    color: #ffffff;
}
.qrm-lev-3>li.active{
    background: #ff9022;
    color: #ffffff;
}
  .select-cy {
    height: 550px;
    width: 100%;
  }

  .select-cy .center{
  	text-align: center;
  }

  .select-cy .active {
    background: #ffba88;
  }

  .select-cy .disabled {
    background: #eee;
    font-size: 14px;
    color: #4b66ea;
  }

  .select-cy .title{
  	text-align: center;
    font-size: 14px;
    color: #4b66ea;
  }
  
  
  

  .select-cy .car-1 {
    width: 220px;
    height: 550px;
    position: absolute;
    background: #fff;
    border:1px solid #4b66ea;
  }

  .select-cy .car-1 .content {
    float: left;
    width: 190px;
    height: 520px;
    overflow: auto;
  }


  .select-cy .one {
    left: 0;
  }

  .select-cy .two {
    left: 220px;
  }

  .select-cy .three {
    left: 440px;
  }

  .select-cy .one .english {
    float: left;
    width: 20px;
  }
  

  .select-cy .one .english .english-item {
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
  }
  .select-cy .one .english .english-item:hover{
  	background: #ffba88;
  }

  
  
  .select-cy .two .content {
    width: 220px;
    border-left: 0;
  }
  .select-cy .three .content {
    width: 220px;
    border-left: 0;
  }

  .select-cy .item1,.select-cy .item2,.select-cy .item3{
		text-indent: 7px;
		font-size: 14px;
		padding: 5px 0;
  }
  .select-cy .item1:hover,.select-cy .item2:hover,.select-cy .item3:hover{
		background: #ffba88;
  }









































